@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; } 
@-ms-viewport { width: device-width; scale: 1; } 
@-o-viewport { width: device-width; scale: 1; } 
@-webkit-viewport { width: device-width; scale: 1; } 
@viewport { width: device-width; scale: 1; } 

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

    font-size: 100%; 

    font-family: Avenir, Century Gothic, sans-serif;
    font-color: white;


.header {
    background-color: white;
    overflow: hidden;
}

.logo {
    height:22rem;
    width: auto;
    margin: .25rem 5%;
}

article {
    margin: 0;
    padding: 0 5%;
    overflow: hidden;
    background-color: white;
}




